.box {
  height: 109px;
  position: relative;
  width: 1728px;
  z-index: 100;
  
}

.navbar {
  height: 109px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1730px;
}

.med-care {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 744px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -20px;
}

.plusSign {
  color: #0093ff;
  text-decoration: none;
}

.SiteTitle {
  color: #000000;
  text-decoration: none;
}

.left-menu {
  height: 70px;
  left: 23px;
  position: absolute;
  top: 16px;
  width: 436px;
  
}

.find-a-doc {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  text-decoration: none;
}

.services {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 270px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  text-decoration: none;
}

.right-menu {
  height: 70px;
  left: 1259px;
  position: absolute;
  top: 19px;
  width: 432px;
}

.sign-inbtn {
  height: 44px;
  left: 226px;
  position: absolute;
  top: 13px;
  width: 188px;
}

.overlap-group {
  background-color: #0093ff;
  border-radius: 10px;
  height: 44px;
  position: relative;
  width: 186px;
}

.SignInBtn {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  text-decoration: none;
}

.log-inbtn {
  height: 44px;
  left: 20px;
  position: absolute;
  top: 13px;
  width: 188px;
}

.LogInBtn {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  text-decoration: none;
}
