.signup-page {
    height: max-content;
    width: max-content;
}

.signup-overlap-wrapper {
    height: 650px;
    left: 0;
    /* position: fixed; */
    top: 0;
    width: 1510px;
}

.signup-overlap {
    background: linear-gradient(180deg, rgba(0, 255, 224.4, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    height: 650px;
    position: relative;
    top: -120px;
    width: 1510px;
}

.Signupimg{
    height: 400px;
    left: 1200px;
    object-fit: cover;
    position: absolute;
    top: 330px;
    /* width: 243px; */
}

.loginbtn {
    height: 38px;
    left: 1300px;
    position: absolute;
    top: 320px;
    width: 132px;
}

.signup-overlap-group {
    border-radius: 20px;
    height: 38px;
    position: relative;
    width: 130px;
}

.loginbox {
    background-color: #1a6955;
    border-radius: 20px;
    height: 38px;
    left: -200px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 130px;
}

.log-in-txt {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: -162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 64px;
    text-decoration: none;
}

.signup-headings {
    height: 118px;
    left: 1068px;
    position: absolute;
    top: 171px;
    width: 598px;
}

.signup-sub-heading {
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 950px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 200px;
    width: 450px;
}

.oneOfUs {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 1068px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 171px;
    white-space: nowrap;
    width: 236px;
}

.sign-up-part {
    height: 604px;
    left: 91px;
    position: absolute;
    top: 171px;
    width: 471px;
}

.signup-btn {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    background-color: #1a6955;
    border: none;
    border-radius: 20px;
    height: 52px; 
    left: 148px;
    position: absolute;
    top: 530px;
    width: 175px;
}

.signup-btn:hover{
    box-shadow: 0px 4px 10px #00000050;
}

.div {
    border-radius: 20px;
    height: 52px;
    position: relative;
    width: 173px;
}

.sign-up-heading {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 143px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.inputbox{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
    border-radius: 20px;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 50px;
    left: 154px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    top: 17px;
    white-space: nowrap;
    width: 468px;
}

.name-box {
    height: 50px;
    left: 0;
    position: absolute;
    top: 78px;
    width: 470px;
}

.emailbox {
    height: 50px;
    left: 0;
    position: absolute;
    top: 140px;
    width: 470px;
}

.passwordbox {
    height: 50px;
    left: 0;
    position: absolute;
    top: 205px;
    width: 470px;
}

.address-box {
    height: 50px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 470px;
}

.second-address-box {
    height: 50px;
    left: 0;
    position: absolute;
    top: 335px;
    width: 470px;
}

.phone-box {
    height: 50px;
    left: 0px;
    position: absolute;
    top: 400px;
    width: 470px;
}

.option-tab{
    height: 50px;
    left: 0px;
    position: absolute;
    top: 465px;
    width: 470px;
}

.role{
    height: 50px;
    left: 0px;
    top: 465px;
    width: 470px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.Specialiaty{
    position: absolute;
    height: 50px;
    left: 500px;
    top: 465px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.file{
    position: absolute;
    height: 50px;
    left: 500px;
    top: 400px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.text{
    color: #999999;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 20px;
}
